*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}

html, body{
    padding: 0px;
    margin: 0px;
}

.section1{
    background-image:url(/images/desktop/image-header.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 847px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 340px;
    padding-right: 30px;
}

.heading1 h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    letter-spacing: .5rem;
    font-weight: 900;
    margin: 4rem;
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: center;
}

.navbar li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.navbar li{
    list-style: none;
}

/* ---------------------------Starting section2-------------------- */


article{
    display: flex;
}

#b1{
    background-image: url(/images/desktop/image-graphic-design.jpg);
}

#b2{
    background-image: url(/images/desktop/image-photography.jpg);
}

#p2{
    display: flex;
    width: 720px;
}

.last-article{
    height: 71vh;
}


/* --------------------section3-------------------------------- */

.testimonials-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}

/* -----------------------section4---------------------------------- */

.gallery{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    height: 70vh;
    /* overflow: hidden; */
}

.gallery picture img{
    height: 593px;
    width: 360px;
}

/* ----------------------footer------------------------------- */

/* footer nav{
    display: block;

} */


footer nav a img {
    filter: invert(1) brightness(0);
    width: 9rem;
    margin-right: 4rem;
}

footer{
    padding: 3rem;
    background: hsl(168, 32%, 55%);
    text-align: center;
    height: 365px;
}

footer nav > ul{
    display: flex;
    display: flex;
    margin: 2rem 0 4rem;
}

footer nav ul li{
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    color: black;
}

footer nav{
    width: 400px;
    margin-left: 503px;
}

footer > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 624px; */
}

footer > ul li{
    list-style: none;
    /* justify-content: space-between; */
    /* gap: 20px; */
    /* width: 50px; */
    display: inline-block;
    margin: 0.7rem;
}

footer .attribution{
    font-size: .9rem;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

footer .attribution a{
    font-size: .9rem;
    /* color: hsl(228, 45%, 44%); */
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    /* transition: .35s; */
    cursor: pointer;
}